<template>
  <div class="container">
    <div class="row">
      <div class="add-container col-6 col-xs-6 col-md-3 mb-3">
        <router-link
        :to="{name: 'home'}"
        tag="button"
        class="btn btn-warning btn-block"
        >
        <i class="fas fa-chevron-left"></i> Back
      </router-link>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="form-container">
    <form class="needs-validation" novalidate v-bind:class="{'was-validated': submitForm == 'submitting'}" onsubmit="return false;" @submit="addPasser">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" required id="name" v-model="data.name" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label for="eligibility">Eligibility</label>
        <input type="text" class="form-control" required id="eligibility" v-model="data.eligibility" placeholder="Enter eligibility">
      </div>
      <div class="form-group">
        <label for="school">School</label>
        <input type="text" class="form-control" required id="school" v-model="data.school" placeholder="Enter school">
      </div>
      <div class="form-group">
        <label for="division">Division</label>
        <input type="text" class="form-control" required id="division" v-model="data.division" placeholder="Enter division">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      data: {
        name: null,
        eligibility: null,
        school: null,
        division: null
      },
      submitForm: false,
      form: null
    }
  },
  methods: {
    addPasser() {
      this.submitForm = 'submit';

      if(this.data.name == null){
        this.submitForm = 'submitting';
      }
      if(this.data.eligibility == null){
        this.submitForm = 'submitting';
      }
      if(this.data.school == null){
        this.submitForm = 'submitting';
      }
      if(this.data.division == null){
        this.submitForm = 'submitting';
      }

      if(this.submitForm == 'submit'){
        axios
        .post('/api/add-passer', this.data)
        .then(result => {
          if(result.data == 200){
            this.$router.push("/")
          } else {
            console.log(result);
          }
        })
        .catch( errors => {
          console.log(errors)
        })
      }
    }
  }
}
</script>

