<template>
  <div class="container">
    <div class="row">
      <div class="add-container col-6 col-xs-6 col-md-3 mb-3">
        <router-link
          :to="{name: 'add'}"
          tag="button"
          class="btn btn-primary btn-block"
        >
          <i class="fas fa-plus"></i> Add
        </router-link>
      </div>
      <div class="search-container mb-3 col-6 col-xs-6 col-md-6 offset-md-3">
        <form @submit="searchPassers" onsubmit="return false;">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" v-model="search">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Name of Examinee</th>
          <th>Campus Eligibility</th>
          <th>School</th>
          <th>Division</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, i) in passers" :key="item.id">
          <td>{{i + pagination.from}}</td>
          <td class="text-left">{{item.name}}</td>
          <td>{{item.eligibility}}</td>
          <td>{{item.school}}</td>
          <td>{{item.division}}</td>
        </tr>
      </tbody>
    </table>
    <div v-if="pagination">
      <nav aria-label="Page navigation example" v-if="pagination.last_page >= 2">
        <ul class="pagination justify-content-center">
          <li class="page-item" v-if="pagination.current_page != 1">
            <a class="page-link" @click="getPassers(links.prev + '&' + pagination.search)" href="javascript:void(0);" tabindex="-1">Previous</a>
          </li>
          <li class="page-item" v-for="index in pagination.last_page" :key="index" v-bind:class="{ disabled: pagination.path + '?page=' + index == links.current_page }">
            <a class="page-link" @click="getPassers(pagination.path + '?page=' + index + '&' + pagination.search)" href="javascript:void(0);">{{index}}</a>
          </li>
          <li class="page-item" v-if="pagination.current_page != pagination.last_page">
            <a class="page-link" @click="getPassers(links.next + '&' + pagination.search)" href="javascript:void(0);">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      url: null,
      search: null,
      passers: null,
      links: null,
      pagination: null
    }
  },
  created() {
    this.getPassers(this.url)
  },
  methods: {
    getPassers(pageUrl) {
      this.url = (!this.url) ? '/api/get-passers?search=' + this.search : pageUrl;
      axios
      .get(this.url)
      .then(result => {
        const data = result.data
        this.passers = data.data
        this.links = data.links
        this.pagination = data.meta
        this.links.current_page = this.pagination.path + '?page=' + this.pagination.current_page
      })
      .catch( errors => {
        console.log(errors)
      })
    },
    searchPassers() {
      this.getPassers('/api/get-passers?search=' + this.search)
    }
  }
}
</script>

