<template>
  <div class="container">
    <div class="row">
      <div class="add-container col-6 col-xs-6 col-md-3 mb-3">
        <router-link
          :to="{name: 'home'}"
          tag="button"
          class="btn btn-warning btn-block"
          >
          <i class="fas fa-chevron-left"></i> Back
        </router-link>
      </div>
      <div class="clearfix"></div>
    </div>
    <h1>Total Passer List  per School</h1>
    <ol v-if="totals">
      <li v-for="item in totals" :key="item.school">
        {{item.school}} - {{item.quantity}}
      </li>
    </ol>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      totals: null
    }
  },
  created() {
    this.getTotals();
  },
  methods: {
    getTotals() {
      axios
        .get('/api/school-total-passers')
        .then(result => {
          this.totals = result.data;
        })
        .catch( errors => {
          console.log(errors)
        })
    }
  }
}
</script>

