<template>
  <div id="app">
    <b-navbar toggleable="lg" type="dark" fixed="top" class="bg-dark">
      <div class="container">
        <b-navbar-brand href="#">Appetiser Test Code</b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="ml-auto">
            <li class="nav-item">
              <router-link
                :to="{name: 'lists'}"
                class="nav-link"
                >
                Total Lists
              </router-link>
            </li>
          </b-navbar-nav>
        </b-collapse>
      </div>
    </b-navbar>
    <router-view/>
  </div>
</template>
